
<div class="container">
    <section class="mb-4">
    
    
      
        <h2 class="h1-responsive font-weight-bold text-center my-4" style="text-align: center;color: red;">Contact us</h2>
       
            <div class="alert alert-warning alert-dismissible" role="alert" style="background-color: red;">
             
                      <b style="color: white;font-size: x-large;">Do you have any questions? Please do not hesitate to contact us
                            directly. Our team will get back to you soon
                            to help you @Voizfonica</b>
            </div>
    
        <div class="row">
            <h3 style="color: red;">About VoizFonica</h3>
            <p style="display: flex; width: 25%; word-break: break-all;">VoizFonica is a Mobile Network Operator and telephone Company.It provides network 
                access and telecommunication services that help people and companies communicate in an easy,efficient.
                VoizFonica established in the year 2010,has recorded substantial growth.</p>
                <h3 style="color: red; text-align: right;"> VoizFonica Company address</h3>
            
                <p style="display: flex; width: 18%; word-break: break-all; float: right;">Address: CareerNet Campus, Plot   No. 53 Kariyammana Agrahara Road, Outer Ring Rd, next to Intel Junction Flyover, Devarabisanahalli, Bengaluru, Karnataka 560103
                     </p>
                     <h3 style="color: red;"> VoizFonica Contact number</h3> 
                   <p> Phone: 080665 60699</p>
                   <br>
                   <br/>
    
            <h2 style="color: red;">YOU CAN CONTACT US 24 X 7 TO THIS ADDRESS!! WE ARE THERE TO HELP YOU  </h2>
            <div class="col-md-3 text-center" >
                <ul class="list-unstyled mb-0">
                    <li  ><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>HYDERABAD, TN 600019, INDIA</p>
                    </li>
    
                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>080665 60699</p>
                    </li>
    
                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>wecare@Voizfonica.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
    
        </div>
    
    </section>
    </div>
