
<div className="footer" style=" display: flex;
flex-direction: column;
width: 100%;
padding-top: 40px; position: absolute; bottom: 0; margin: 0;" >
    <div className="footer_items" style="display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute; bottom: 0; margin: 0; width: 100%;">
        <div className="footer_one" style=" display:flex;
        flex-direction: column;
        width: 15%;">
            <h3 className="brand" style="font-family: cursive;">VoizFonica</h3>
            <p style=" display: flex; width: 80%;
            word-wrap: break-word;">VoizFonica is a Mobile Network Operator and telephone Company.It provides network 
            access and telecommunication services that help people and companies communicate in an easy,efficient.
            VoizFonica established in the year 2010,has recorded substantial growth.</p><br/>
            
        </div>
        <div className="footer_one" style=" display:flex;
        flex-direction: column;
        width: 15%;">
            <h3>We Offer</h3>
            <ul>
                <li>Postpaid Connection</li>
                <li>Prepaid Connection</li>
                <li>4G & Mobile Internet</li>
                <li>Home Broadband</li>
                <li>Dongle Services</li>
            </ul>
        </div>
        <div className="footer_one" style=" display:flex;
        flex-direction: column;
        width: 15%;">
            <h3>Get Started</h3>
            <p>Get access to your Global World and its technology.</p>
            <button className="btn" style="padding: 10px;
            background-color: red;
            color: white;
            border: none;
            outline: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 700;
            width: 60%;">Register Now</button>
        </div>
        <div className="footer_one" style=" display:flex;
        flex-direction: column;
        width: 15%;">
            <h3>Contact Us</h3>
            <p>wecare@voizfonica.com</p>
            <ul>
                <li>
                    <i class="fab fa-instagram"> Instagram</i>
                </li>
                <li>
                    <i class="fab fa-youtube"> Youtube</i>
                </li>
                <li>
                    <i class="fab fa-facebook"> Facebook</i>
                </li>
                <li>
                    <i class="fab fa-whatsapp"> Whatsapp</i>
                </li>
            </ul>
        </div>
    </div>
    <div className="footer_copyright" style="display:flex;
    align-items: center;
    justify-content: center; position: absolute; bottom: 0; margin: 0; width: 100%;">
        <h3>Copyright VoizFonica &#169; 2021 || All rights reserved || In ❤ with customers.</h3>
    </div>
</div>

